build/project_cfg.mk
build_error.log

projects/adc/src/libc_patch.o
projects/burst_cli/src/libc_patch.o
projects/dmac/src/libc_patch.o
projects/gpio/src/libc_patch.o
projects/hsuart/src/libc_patch.o
projects/i2c_master/src/libc_patch.o
projects/i2s/src/libc_patch.o
projects/lite_mac/src/libc_patch.o
projects/lmdma/src/libc_patch.o
projects/mac_atcmd/src/libc_patch.o
projects/pwm/src/libc_patch.o
projects/spi_master/src/libc_patch.o
projects/spi_slave/src/libc_patch.o
projects/tmr/src/libc_patch.o
projects/uart/src/libc_patch.o
projects/uart_echo/src/libc_patch.o
projects/wdt/src/libc_patch.o

utils/src-SPI_burn/SPI_burn
utils/src-SPI_burn/flash.o
utils/src-SPI_burn/main.o
utils/src-SPI_burn/util.o

image/
out/
wtwd-m/back_temp/

